/***********************************************
********************* global **********************
************************************************/
:root {
  --theme-color: #01b2ee;
  --sec-color: #4f5864;
}

body {
  color: var(--sec-color) !important;
  background-color: #f4f7fb !important;
}

.app-container {
  display: grid;
  grid-template-rows: 117px minmax(calc(100vh - 462px), 100%) 345px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0rem) !important;
  padding-left: var(--bs-gutter-x, 0rem) !important;
  margin-right: auto;
  margin-left: auto;
}

/***********************************************
********************* nav **********************
************************************************/
.nav-1 {
  background-color: var(--theme-color);
  height: 50%;
}

.nav-1 .nav-logo {
  width: 145px;
  height: 28px;
  color: white;
  fill: #fff;
  stroke: #fff;
}

.nav-icon-style {
  font-size: 28px;
  fill: white;
}

.nav-icon-style path {
  stroke: #fff !important;
}

.nav-icon-style-arrow {
  font-size: 20px;
  fill: white;
}

.nav-icon-style-cart {
  font-size: 30px;
}

.nav-icon-style-cart path {
  fill: #fff !important;
  stroke: white;
}

.navbar-collapse2 button,
.navbar-collapse2 span {
  color: white;
}

.navbar-collapse2 ul li {
  margin-left: 13px;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 16rem !important;
  padding: 0 0 !important;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
}

.dropdown-menu li {
  padding: 9px 12px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.377);
  margin-left: 0 !important;
}

.dropdown-menu li:hover {
  background-color: rgba(211, 211, 211, 0.37);
}

.dropdown-menu li a {
  text-decoration: none;
  color: grey;
}

.dropdown-menu li a:hover {
  color: var(--theme-color);
}

.btn:hover {
  color: white !important;
}

.nav-2 {
  height: 50%;
  box-shadow: 0 0 10px 0 rgb(75 84 96 / 22%);
}

.nav-2 input {
  width: 30rem;
  background: url("img/search-icon.svg") no-repeat scroll 4px 5px;
  background-size: 26px;
  padding-left: 40px;
}

.nav2-icon-style-arrow {
  font-size: 20px;
  fill: var(--theme-color);
}

.nav-2 ul li a {
  color: #4f5864cc !important;
  font-size: 2.3vh;
  font-weight: 500;
}
.nav-2 ul li {
  margin-left: 0 !important;
  margin-right: 25px;
}

.nav-2 .dropdown-menu li {
  margin: 0;
}

.nav-2 .dropdown-menu .has-submenu a span {
  color: #4f5864cc;
  margin-right: 50px;
  font-size: 14px;
}

.nav-2 .dropdown-menu .has-submenu a:hover span {
  color: var(--theme-color);
}

.nav-2 ul li a:hover {
  color: var(--theme-color) !important;
}

/***************** mega menu ******************/
.megasubmenu {
  padding: 1rem;
}

.megasubmenu h5 {
  color: var(--theme-color) !important;
}

.megasubmenu article p {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 15px;
}

.megasubmenu article span {
  color: grey !important;
  font-size: 13px;
}

.submenu-arrow-icon {
  position: absolute;
  right: 10px;
}

.has-submenu:hover .submenu-arrow-icon {
  right: 5px;
}

/************** nav 3 ******************/
.nav-3 {
  display: none;
  background: whitesmoke;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 7px;
  border-top: 1px solid rgba(179, 195, 211, 0.356);
  z-index: 100000;
}

.nav3-container {
  display: flex;
  justify-content: space-around;
}
.nav3-container .ico {
  font-size: 26px;
}

.nav3-container div {
  text-align: center;
}

.nav3-container div:hover {
  cursor: pointer;
  color: var(--theme-color);
}
/***********************************************
******************** home *********************
************************************************/

/*********** hero img **************/

.hero-container {
  text-align: center;
  margin: 16px 0px;
}

.hero-img {
  height: 26vh;
  margin: 15px 0;
}

.hero-img img {
  width: 100%;
  height: auto;
}

.hero-container p {
  color: var(--sec-color);
  font-size: 0.95rem;
  margin: 30px 0;
}

/******************** card *****************/
.card-img-container {
  position: relative;
  width: 100%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  opacity: 0;
  background-color: rgb(0, 174, 255);
  text-align: center;
}

.overlay p {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.card-img-container:hover .overlay {
  opacity: 0.8;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem 0 1rem !important;
}

.cardFooter {
  padding: 0 13px 13px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardFooter .cardFooter-bottomText {
  text-align: right;
}

.cardFooter > span:first-child {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.739);
  align-self: flex-end;
}

.cardFooter .cardFooter-bottomText span:first-child {
  font-size: 13px;
  color: var(--theme-color);
}

.cardFooter .cardFooter-bottomText span:nth-child(3) {
  font-size: 35px;
  font-weight: 500;
  color: var(--theme-color);
  padding-left: 10px;
  line-height: 32px;
}

.cardFooter .cardFooter-bottomText span:nth-child(2) {
  font-size: 15px;
  text-decoration: line-through;
}

.card-title {
  margin-bottom: 0.2rem !important;
}

.card-body .card-text {
  color: var(--theme-color);
  margin-bottom: 0;
}

.card-body .card-text2 {
  color: rgba(128, 128, 128, 0.739);
}

.card .wish-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  background: rgba(211, 211, 211, 0.9);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.wish-ico {
  font-size: 23px;
}
.wish-ico:hover {
  cursor: grabbing;
}

/******************** collection card *****************/
.coll-card-container > :not(:nth-last-child(-n + 2)) {
  position: relative !important;
  z-index: 5;
  background: white;
}
.coll-card-level1 {
  width: 96%;
  position: absolute;
  bottom: -8px;
  border: 1px solid rgba(211, 211, 211, 0.712);
  z-index: 2;
  background-color: white;
}

.coll-card-level2 {
  width: 93%;
  position: absolute;
  bottom: -15.5px;
  border: 1px solid rgba(211, 211, 211, 0.712);
  z-index: 1;
  background-color: white;
}

.coll-card-container .card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-bottom: 0.1px solid lightgrey;
  text-align: center;
}

.coll-card-btn {
  display: inline-block;
  margin: 1.8rem 0;
  color: var(--theme-color);
  padding: 7px 11px;
  text-decoration: none;
  border: 2px solid var(--theme-color);
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
}

.coll-card-btn:hover {
  color: var(--theme-color);
}

/************** first section cards container and dicover list ***************/

.first-sec-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.discover-list-container {
  background-color: white;
  width: 20em;
  min-height: 36em;
  overflow-y: auto;
}

.discover-list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#dl-firstChild {
  color: var(--theme-color);
  padding: 15px 20px;
  font-size: 29px;
  font-weight: 600;
  border-bottom: 1px solid rgba(211, 211, 211, 0.657);
}

.discover-list-container ul li:not(:first-child) {
  padding: 11px 20px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.2);
}

.discover-list-container ul li span {
  float: right;
  font-size: 13px;
  color: rgb(161, 161, 161);
}

.discover-list-container ul li:hover {
  cursor: pointer;
  color: var(--theme-color);
}

/******************** second section ***********************/
.second-sec-container {
  padding: 20px 20px !important;
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 12%;
}

.second-sec-container input {
  display: inline-block;
  width: 28vw;
  height: 43px;
  vertical-align: middle;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: url("https://upload.wikimedia.org/wikipedia/commons/3/3d/Envelope_font_awesome.svg")
    no-repeat scroll 6px 8px;
  background-size: 24px;
  padding-left: 40px;
}

.second-sec-container p {
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: var(--theme-color);
  font-weight: bold;
}

.second-sec-container button {
  background-color: var(--theme-color);
  border: none;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 100px;
  height: 43px;
  box-shadow: 0 0 8px 0 rgb(1 178 238 / 50%);
}
.second-sec-container button:hover {
  background-color: rgb(1, 178, 238, 0.75);
}

/***********************************************
******************* footer ********************
************************************************/
.footer-container {
  background: white;
  margin-top: 30px;
  border-top: 1px solid #eaf1f5;
}

.footer-main {
  height: 80%;
  border-bottom: 1px solid lightgrey;
}

.footer-main .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

.footer-main .container div:last-child {
  flex-basis: 420px;
}

.footer-footer {
  padding-top: 17px;
  height: 20%;
  text-align: center;
  font-size: 17px;
}

.footer-footer a {
  text-decoration: none;
  color: var(--theme-color);
  padding-right: 5px;
}

.footer-footer img {
  padding-left: 15px;
}

.footer-ico-container {
  display: flex;
  gap: 5px;
  margin-bottom: 13px;
}

.footer-ico-container .footer-ico {
  font-size: 2em;
}

.footer-main button {
  background-color: var(--theme-color);
  border: none;
  color: white;
  width: 180px;
  box-shadow: 0 0 8px 0 rgb(1 178 238 / 50%);
  border-radius: 5px;
  padding: 12px 0;
  font-size: 15px;
  font-weight: 500;
}

.footer-main button:hover {
  background-color: rgb(1, 178, 238, 0.75);
}

.footer-main p {
  font-weight: 500;
}

.footer-main a {
  display: inline-block;
  text-decoration: none;
  color: rgb(136, 136, 136);
  padding-bottom: 6px;
}

.footer-main a:hover {
  color: var(--theme-color);
}

.footer-main form input {
  display: inline-block;
  width: 20vw;
  height: 43px;
  vertical-align: middle;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: url("https://upload.wikimedia.org/wikipedia/commons/3/3d/Envelope_font_awesome.svg")
    no-repeat scroll 6px 8px;
  background-size: 24px;
  padding-left: 40px;
}

.footer-main form button {
  background-color: var(--theme-color);
  border: none;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 100px;
  height: 43px;
  box-shadow: 0 0 8px 0 rgb(1 178 238 / 50%);
}

/***********************************************
**************** media queries ******************
************************************************/

@media all and (min-width: 992px) {
  .dropdown-menu .dropdown-toggle::after {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }

  .megasubmenu {
    left: 100%;
    top: 0;
    min-height: 100%;
    min-width: 450px !important;
    padding: 1.3rem !important;
  }

  .dropdown-menu > li:hover .megasubmenu {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-2 {
    visibility: hidden;
  }
  .hero-container {
    margin-top: -60px;
  }

  .nav-1 .navbar-nav .nav-item:not(:first-child) {
    display: none;
  }

  .nav-1 .navbar-nav .dropdown-menu {
    font-size: 10px;
    min-width: 1rem !important;
    height: 200px;
    overflow-y: scroll;
  }

  .nav-1 .navbar-brand {
    align-self: flex-start;
  }

  .nav-3 {
    display: block;
  }

  .discover-list-container {
    display: none;
  }
  .footer-container {
    margin-bottom: 70px;
  }
  .footer-main .container div:last-child {
    display: none;
  }
  .footer-main {
    height: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  .second-sec-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .second-sec-container input {
    width: 50vw;
  }
  .second-sec-container p {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .first-sec-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
